<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: headArmy"></head>
<style>
    .indexBody{
      background-color: black;
    }
  </style>
<body>
  <nav th:replace="header :: nav"></nav>
<h1>Build your Army</h1>

<!-- Form for the Army Name/Faction and Points-->
<form th:object="${newArmy}" th:action="newArmy" method="get" >
		<h3>Army Name: <input name="armyName" type="text"></h3>
<fieldset>
<div class="col-lg-6">
		Factions: <select name="factionName" id="factionName" onchange="chooseUnitsToList()">
					<script>loadFactions();</script>
				  </select>
</div>
</fieldset>
<fieldset>
	<div th:object="${newUnit}" th:action="newUnit" method="get">
		<!--Unit Box; where the units populate.-->
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
			<th>Unit Type</th>
			<th colspan="1">First Selection</th>
			<th colspan="1">Second Selection</th>
			<th colspan="1">Third Selection</th>
			<th colspan="1">Fourth Selection</th>
			<th colspan="1">Fifth Selection</th>
			<th colspan="1">Sixth Selection</th>
			</tr>
		</thead>
		<tr id="HQBox"></tr>
		<tr id="TroopBox"></tr>
		<tr id="EliteBox"></tr>
		<tr id="FastBox"></tr>
		<tr id="HeavyBox"></tr>
		<tr id="LowBox"></tr>
		<tr id="TransportBox"></tr>
		<tr id="flyerBox"></tr>
		<!--<tr id="fortnBox"></tr>-->
		<span id="error"></span>
	</table>
	</div> 

</fieldset>
		<input class="btn btn-dark" name="submit" type ="submit" value="Create Army" />
</form>
<form action="navPage" method= post >
	<input class="btn btn-dark" type="submit" name="submit" value="Return to Menu" />
</form>
</body>
<footer th:replace="header :: footer">
</footer>
</html>
