<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Let's make a new army!</title>

  
    <!--<link rel="stylesheet" type="text/css" href="css/stylesheet.css">!-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <!--JS For Factions-->
    <script src = "../js/factionArray.js"></script>

    <meta charset="UTF-8">

    <meta name="description" content="Add a bunch of units">

    <meta name="keywords" content="school, grades, websites, javascript, turtles">
    <script src = "../js/asmUnitArray.js"></script>
    <script src = "../js/orksUnitArray.js"></script>
    <script src = "../js/tauEmpireUnitArray.js"></script>
    <title>Army Builder Test</title>
<script>
	const myUnitList =[];
	const myUnitCost =[];
	const myCostTotal=[];

	//This loads the factions up.
function loadFactions(){
    for(var x=0; x<factions.length;x++){
        document.write("<option id="+"factionName"+" name="+"factionName" + " value=" + factionValue[x]+">" + factions[x]+"</options>");
    }
}

/*		Troop Name: <input name="troops.troop1" type="text"> </br>
		Troop Cost: <input name="troops.tCost1" type="test"> </br>
		Fast Attack Name: <input name="fa.fa1" type="text"> </br>
		Fast Attack Cost: <input name="fa.faCost1" type="text"> </br>
		HQ Name: <input name="hq.hq1" type="text"> </br>
		HQ Cost: <input name="hq.hqCost1" type="test"> </br>
		Heavy Support Name: <input name="hs.hs1" type="text"> </br>
		Heavy Support Cost: <input name="hs.hsCost1" type="test"> </br>
		Dedicated Transport Name: <input name="dt.dt1" type="text"> </br>
		Dedicated Transport Cost: <input name="dt.dtCost1" type="test"> </br>
		Elite Name: <input name="e.elite1" type="text"> </br>
		Elite Cost: <input name="e.eCost1" type="test"> </br>
		Lord of War Name: <input name="low.low1" type="text"> </br>
		Lord of War Cost: <input name="low.lowCost1" type="test"> </br>
		</div> */
function chooseUnitsToList(){

//checks the faction value
var factionValue = document.getElementById("factionName").value;

//if a faction is selected
if(factionValue === "Tau" || factionValue === "Orks" || factionValue === "Astram"){
//Creates the <select id=unitDisplayer></select>

document.getElementById("unitBox").innerHTML = 
//HQ SELECT
"</br>Select HQ: <select id ="+"hq1 "+"name="+"hq.hq1"+"></select> "+
"SECRET BOX HERE <select id ="+"hqCost1 "+"name="+"hq.hqCost1"+" hidden></select></br></br>"+
//TROOP SELECT
"Select troops: <select id ="+"troops1 "+"name="+"troops.troop1"+"></select>"+
"SECRET BOX HERE <select id ="+"tCost1 "+"name="+"troops.tCost1"+" hidden></select></br></br>"+
//ELITE SELECT
"Select elites: <select id ="+"elites1 "+"name="+"e.elite1"+"></select>"+
"SECRET BOX HERE <select id ="+"eCost1 "+"name="+"e.eCost1"+" hidden></select></br></br>"+
//FAST ATTACK
"Select fastattack: <select id ="+"fastattack1 "+"name="+"fa.fa1"+"></select>"+
"SECRET BOX HERE <select id ="+"faCost1 "+"name="+"fa.faCost1"+" hidden></select></br></br>"+
//HEAVY
"Select heavysupport: <select id ="+"heavysupport1 "+"name="+"hs.hs1"+"></select>"+
"SECRET BOX HERE <select id ="+"hsCost1 "+"name="+"hs.hsCost1"+" hidden></select></br></br>"+
//LoW
"Select lordofwar: <select id ="+"lordofwar1 "+"name="+"low.low1"+"></select>"+
"SECRET BOX HERE <select id ="+"lowCost1 "+"name="+"low.lowCost1"+" hidden></select></br></br>"+
//Transport
"Select transport: <select id ="+"transport1 "+"name="+"dt.dt1"+"></select>"+
"SECRET BOX HERE <select id ="+"dtCost1 "+"name="+"dt.tdCost1"+" hidden></select></br></br>"+
//Flyer
"Select flyer: <select id ="+"flyer1 "+"name="+"noObject"+"></select>"+
"SECRET BOX HERE <select id ="+"flCost1 "+"name="+"noObject"+" hidden></select></br></br>"+
//Fort
"Select fortification: <select id ="+"fortification1 "+"name="+"noObject"+"></select>"+
"SECRET BOX HERE <select id ="+"ftCost1 "+"name="+"noObject"+" hidden></select></br></br>"
;
//Also erases error if proper option is selected
document.getElementById("error").innerHTML = "";
//Now we populate id unitDisplayer with a new function
populateFactionUnitList();
} else {
//returns error
document.getElementById("error").innerHTML ="<h1>Pick a Faction</h1>"
//gets rid of <select>
document.getElementById("unitBox").innerHTML="";
}

}
//This is the one that will check which faction you have and pull up a method to each individual faction unit list.
function populateFactionUnitList(){

//checks the faction value
var factionValue = document.getElementById("factionName").value;
if (factionValue==="Tau"){
fillTau();
} if(factionValue==="Astram"){
fillAsm();
} if(factionValue==="Orks"){
fillOrk();
}
}

function changeBoxAtSameTime(){
	document.getElementById('hq').addEventListener("change", function () {
    document.getElementById('hqCost').selectedIndex = document.getElementById('hq').selectedIndex;
}, false);
}

</script>
</head>
<body>
<h1>Enter your Army's Name, and total points!</h1>

<!-- Form for the Army Name/Faction and Points-->
<form form th:object="${newArmy}" th:action="newArmy" method="get" >
		Army Name: <input name="armyName" type="text"> </br></br>
		Factions: <select name="factionName" id="factionName" onchange="chooseUnitsToList()">
					<script>loadFactions();</script>
				  </select>
	<div th:object="${newUnit}" th:action="newUnit" method="get">
		<!--Unit Box; where the units populate.-->
		<span id="unitBox"></span>
		<span id="error"></span>
	</div> 
		
		<input name="submit" type ="submit" value="submit" />
</form>

</body>
</html>
