<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type = "text/javascript">
	function checkForm(form){
		if(form.elements["username"].value == ""){
			alert("Error: Username input is empty!");
			form.elements["username"].focus();
			return false;
		}
	
		if(form.elements["password"].value == ""){
			alert("Error: Password input is empty!");
			form.elements["password"].focus();
			return false;
		}

	return true
}
</script>
<head th:replace="header :: headNorm"></head>
<body>

	<div class="text-center">
		<h1>Register an Account</h1>
		</div>

		<section class="w-100 p-4 d-flex justify-content-center pb-4">
		<form th:object="${user}" th:action="newUser" method="get" onsubmit= "return checkForm(this);">
		<!-- Email input -->
		<div class="form-outline mb-4">
			<input type="username" id="form1" name="userName" class="form-control" />
			<label class="form-label" for="form1">Username</label>
		  </div>
		
		  <!-- Password input -->
		  <div class="form-outline mb-4">
			<input type="password" id="form2" name="userPassword" class="form-control" />
			<label class="form-label" for="form2">Password</label>
		  </div>
		
		  <!-- Submit button -->
		  <input type="submit" class="btn btn-primary btn-block mb-4" value="Login"></button>
		
		  <!-- Register buttons -->
		 
		</form>
</body>
</html>