<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type = "text/javascript" >
	function checkForm(form){
		if(form.elements["username"].value == ""){
			alert("Error: Username input is empty!");
			form.elements["username"].focus();
			return false;
		}
	
		if(form.elements["password"].value == ""){
			alert("Error: Password input is empty!");
			form.elements["password"].focus();
			return false;
		}
	
		return true
	}
</script>
<head th:replace="header :: headNorm"></head>
<body>

<div class="text-center">
	<h1>Login</h1>
</div>

	<section class="w-100 p-4 d-flex justify-content-center pb-4">
	<form th:object="${user}" th:action="login" method="post" onsubmit= "return checkForm(this);">
	<!-- Email input -->
	<div class="form-outline mb-4">
		<label class="form-label" for="form1">Username</label>
		<input type="username" id="form1" name="userName" class="form-control" placeholder="Username"/>

	  </div>
	
	  <!-- Password input -->
	  <div class="form-outline mb-4">
	  	<label class="form-label" for="form2">Password</label>
		<input type="password" id="form2" name="userPassword" class="form-control" placeholder="Password"/>

	  </div>
	
	  <!-- Submit button -->
	  <input  type="submit" class="btn btn-dark btn-block mb-4" value="Login"></button>
	
	  <!-- Register buttons -->
	  	<div class="text-center">
		Not a member?
	</div>
	 <form action="newUser" method=post>
			<input class="btn btn-dark btn-block mb-2" name="submit" type="submit" value="Register Now!" />
		</form>
	</form>


	</section>
</div>
</body>
</html>