<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Holder for now</title>
<h1>HOORAY!</h1>
</head>
<body>
<form action="viewUsers" method="post">
	<input type="submit" name="submit" value="See Users!" />
</form>
<form action="newArmy" method="post">
	<input type="submit" name="submit" value="New Army" />
</form>
<form action="newUnit" method="post">
	<input type="submit" name="submit" value="New Unit" />
</form>
<form action="viewAll" method="get">
	<input name="submit" type="submit" value="ViewAll"/>
</form>

<form action="login" method="get" >
	<input type="submit" name="submit" value="Log Out" />
</form>
</body>
</html>