<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Holder for now</title>
<h1>HOORAY!</h1>
<h2>This is navPage.html</h2>
</head>
<body>



<form action="inputA" method="post">
Army Name: <input name="armyName" type="text"/>
Faction Name: <select name="factionName">
	<option value="tau">Tau</option>
	<option value="orks">Orks</option>
	<option value="ast">Ast</option>
	</select>
<input type="submit" name="submit" value="Create Army"/>
</form>


<form action="login" method="get" >
	<input type="submit" name="submit" value="Log Out" />
</form>
</body>
</html>