<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Navigation Page</title>
<h1>Choose what you'd like to do next</h1>
</head>
<body>
<form action="viewMyUser" method="post">
	<input type="submit" name="submit" value="See your profile!" />
</form>
<form action="viewUsers" method="post">
	<input type="submit" name="submit" value="See Users!" />
</form>
<form action="newArmy" method="post">
	<input type="submit" name="submit" value="New Army" />
</form>

<form action="viewAll" method="get">
	<input name="submit" type="submit" value="ViewAll"/>
</form>

<form action="login" method="get" >
	<input type="submit" name="submit" value="Log Out" />
</form>
</body>
</html>