<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="header :: headNorm"></head>
<body>
  <nav th:replace="header :: nav"></nav>

<table class="table">
<thead>
<tr>
<th>Name of Army</th>
<th>Faction of Army</th>
<th>Cost of Army</th>
<th>Edit?</th>
<th>Delete?</th>
</tr>
</thead>
<tbody>
<tr th:each="currentArmy : ${armies}">
<td th:text="${currentArmy.armyName}"/>
<td th:text="${currentArmy.factionName}"/>
<td th:text="${currentArmy.pointsTotal}"/>
<td>
  Controller needs made. HTML that has Units needs made.
<form action="newArmy" method="post">
  <input type="submit" name="submit" value="Edit?" />
</form>
</td>
<td>
  Controller needs made.
  <form action="newArmy" method="post">
    <input type="submit" name="submit" value="Delete?" />
  </form>
  </td>
</tr>


</tbody>
</table>
<table class="table" th:each="currentUnits : ${units}">
<tr>
<th>Unit Type</th>
<th colspan="1">First Selection</th><th>Cost</th>
<th colspan="1">Second Selection</th><th>Cost</th>
<th colspan="1">Third Selection</th><th>Cost</th>
<th colspan="1">Fourth Selection</th><th>Cost</th>
<th colspan="1">Fifth Selection</th><th>Cost</th>
<th colspan="1">Sixth Selection</th><th>Cost</th>
</tr>
<tr>
<td>HQ</td>
<td th:text="${currentUnits.hq.hq1}"/>
<td th:text="${currentUnits.hq.hqCost1}"/>
<td th:text="${currentUnits.hq.hq2}"/>
<td th:text="${currentUnits.hq.hqCost2}"/>
<td th:text="${currentUnits.hq.hq3}"/>
<td th:text="${currentUnits.hq.hqCost3}"/>
</tr>
<tr>
<td>Elite</td>
<td th:text="${currentUnits.e.elite1}"/>
<td th:text="${currentUnits.e.eCost1}"/>
<td th:text="${currentUnits.e.elite2}"/>
<td th:text="${currentUnits.e.eCost2}"/>
<td th:text="${currentUnits.e.elite3}"/>
<td th:text="${currentUnits.e.eCost3}"/>
<td th:text="${currentUnits.e.elite4}"/>
<td th:text="${currentUnits.e.eCost4}"/>
<td th:text="${currentUnits.e.elite5}"/>
<td th:text="${currentUnits.e.eCost5}"/>
<td th:text="${currentUnits.e.elite6}"/>
<td th:text="${currentUnits.e.eCost6}"/>
</tr>
<tr>
<td>Fast Attack</td>
<td th:text="${currentUnits.fa.fa1}"/>
<td th:text="${currentUnits.fa.faCost1}"/>
<td th:text="${currentUnits.fa.fa2}"/>
<td th:text="${currentUnits.fa.faCost2}"/>
<td th:text="${currentUnits.fa.fa3}"/>
<td th:text="${currentUnits.fa.faCost3}"/>
</tr>
<tr>
<td>Heavy Support</td>
<td th:text="${currentUnits.hs.hs1}"/>
<td th:text="${currentUnits.hs.hsCost1}"/>
<td th:text="${currentUnits.hs.hs2}"/>
<td th:text="${currentUnits.hs.hsCost2}"/>
<td th:text="${currentUnits.hs.hs3}"/>
<td th:text="${currentUnits.hs.hsCost3}"/>
</tr>
<tr>
<td>Lord of War</td>
<td th:text="${currentUnits.low.low1}"/>
<td th:text="${currentUnits.low.lowCost1}"/>
<td th:text="${currentUnits.low.low2}"/>
<td th:text="${currentUnits.low.lowCost2}"/>
<td th:text="${currentUnits.low.low3}"/>
<td th:text="${currentUnits.low.lowCost3}"/>
<td th:text="${currentUnits.low.low4}"/>
<td th:text="${currentUnits.low.lowCost4}"/>
<td th:text="${currentUnits.low.low5}"/>
<td th:text="${currentUnits.low.lowCost5}"/>
</tr>
<tr>
<td>Dedicated Transport</td>
<td th:text="${currentUnits.dt.dt1}"/>
<td th:text="${currentUnits.dt.tdCost1}"/>
<td th:text="${currentUnits.dt.dt2}"/>
<td th:text="${currentUnits.dt.tdCost2}"/>
<td th:text="${currentUnits.dt.dt3}"/>
<td th:text="${currentUnits.dt.tdCost3}"/>
<td th:text="${currentUnits.dt.dt4}"/>
<td th:text="${currentUnits.dt.tdCost4}"/>
<td th:text="${currentUnits.dt.dt5}"/>
<td th:text="${currentUnits.dt.tdCost5}"/>
<td th:text="${currentUnits.dt.dt6}"/>
<td th:text="${currentUnits.dt.tdCost6}"/>
</tr>
<tr>
<td>Troops</td>
<td th:text="${currentUnits.troops.troop1}"/>
<td th:text="${currentUnits.troops.tCost1}"/>
<td th:text="${currentUnits.troops.troop2}"/>
<td th:text="${currentUnits.troops.tCost2}"/>
<td th:text="${currentUnits.troops.troop3}"/>
<td th:text="${currentUnits.troops.tCost3}"/>
<td th:text="${currentUnits.troops.troop4}"/>
<td th:text="${currentUnits.troops.tCost4}"/>
<td th:text="${currentUnits.troops.troop5}"/>
<td th:text="${currentUnits.troops.tCost5}"/>
<td th:text="${currentUnits.troops.troop6}"/>
<td th:text="${currentUnits.troops.tCost6}"/>
</tr>
<tr>
<td>Flyer</td>
<td th:text="${currentUnits.fl.flyer1}"/>
<td th:text="${currentUnits.fl.flCost1}"/>
<td th:text="${currentUnits.fl.flyer2}"/>
<td th:text="${currentUnits.fl.flCost2}"/>

</tr>

</table>
</body>
</html>