<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
table, th, td {
  border:1px solid black;
}
</style>
<head>
<meta charset="ISO-8859-1">
<title>View Past Orders</title>
</head>
<body>
<form>
<table>
<tr>
<th>ID</th>
<th>Name of Unit</th>
<th>Type of Unit</th>
<th>Cost of Unit</th>
</tr>
<tr th:each="currentUnits : ${units}">
<td th:text="${currentUnits.id}"/>
<td th:text="${currentUnits.name}"/>
<td th:text="${currentUnits.cost}"/>
<td th:text="${currentUnits.unit.hq1}"/> 
<!-- Can also be "${currentUnits.HQ.hq1} -->

<td th:text="${currentUnits.unit.troop1}"/>
<!-- Can also be "${currentUnits.Troops.troop1} -->

<td><a th:href="@{/edit/{id}(id=${currentUnits.id})}">Edit</a></td>
<td><a th:href="@{/delete/{id}(id=${currentUnits.id})}">Delete</a></td>
</table>

</form>

<a href = "../inputOrder">Add New Order</a>
</body>
</html>